.DS_Store
.idea/
sound_factory/image_dataset/
sound_factory/image_sourse/oneshot/なし/*.png
!sound_factory/image_dataset/.gitkeep
.vscode/
*.csv
sound_factory/model/b0-1/
sound_factory/model/b1/
sound_factory/model/b2/
sound_factory/model/b3/
sound_factory/model/b4/
sound_factory/model/b5/
sound_factory/model/best/b1/
sound_factory/model/best/b2/
sound_factory/model/best/b3/
sound_factory/model/best/b4/
sound_factory/model/best/b5/
*.lwi
